__UNUSED/
conf.php
keys.php
*.log
*.tar.gz
*.patch
*.zip
.DS_Store
Thumbs.db
/__config/service.php
zpcache/
isdev.txt
TODO.txt
docs/
structure-of-docs.md
code-structure.md
code-rules.md
_WIKI/
wiki/
CHANGELOG-PRIVATE.md