.main-content a,
.main-content a:visited {
	color: #69a02a;
}

.help-screenshot {
	display: block;
	max-width: 100%;
	height: auto;
	margin: 1rem 0 2rem;
	border: 1px solid #888;
}

.side-bar .site-footer a,
.side-bar .site-footer a:visited {
	color: #69a02a;
}

.zp-doc-footer {
	margin-top: 4rem;
	font-size: .6875rem;
	line-height: 1.4;
	color: #aaa;
}
