@import "./color_schemes/dark";

$body-background-color: #111;
$sidebar-color: #1b1b1f;
$search-background-color: #202024;
$feedback-color: #151518;
$table-background-color: #18181b;
$border-color: #333;
$link-color: #69a02a;
$nav-child-link-color: #69a02a;
$btn-primary-color: #69a02a;
